*.hdf5
*.swc
*.h5
bsb-*/

# pip & python artifacts
__pycache__/
*.pyc
build/
dist/
*.egg-info/
pip-wheel-metadata/
.python-version

# Env files
dev_env/
test_env/

# NEURON files
nrnmech.dll

# NEST files
*.gdf

# CI files
.coverage
htmlcov/

# Ignore report files
*.io

# IDEs
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints
